.container {
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  margin-top: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 12px;
  margin-bottom: 8px;
}

input[id="amount"]{
  width: 282.4px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select,
button {
  margin-top: 12px;
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
