{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/converter.css'%}">
    </head>

    <div class="centered-content">
        <div class="container">
            <h1>Conversor de Moedas</h1>
            <form id="currency-converter" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <button type="button" id="swap-button" onclick="swapCurrencies()">Trocar</button>
                <button type="submit">Converter</button>
            </form>
            {% if conversion %}
                <h1>{{ result }} {{ to }}</h1>
                <div class="conversion-date">{{ conversion_date }}</div>
            {% endif %}
        </div>

        <div class="loading-overlay" id="loadingOverlay">
            <div class="loading-spinner"></div>
            <div class="loading-timer" id="loadingTimer"></div>
        </div>
    </div>

    <script>
        let timer = 0;

        function swapCurrencies() {
            const fromCurrency = document.getElementById("from");
            const toCurrency = document.getElementById("to");

            const temp = fromCurrency.value;
            fromCurrency.value = toCurrency.value;
            toCurrency.value = temp;
        }

        function updateTimer() {
            timer++;
            document.getElementById("loadingTimer").textContent = `Converting...${timer}`;
        }

        function showLoading() {
            timer = 0;
            updateTimer();
            document.getElementById("loadingOverlay").style.display = "flex";
            setInterval(updateTimer, 1000);
        }

        function hideLoading() {
            document.getElementById("loadingOverlay").style.display = "none";
        }

        document.querySelector("form").addEventListener("submit", function() {
            showLoading();
        });

    </script>
{% endblock %}
