{% extends "base.html" %}
{% load static %}

{% block content %}
    <head>
        <link rel="stylesheet" href="{% static 'css/home.css'%}">
    </head>

    <div class="content">
        <div class="centered-content">
            <div class="white-background"> <!-- Aplicando a classe aqui -->
                <div class="welcome-title">
                    Welcome to ValueVerifier
                    <div class="description">
                        ValueVerifier is your go-to currency conversion platform, 
                        designed to provide accurate and real-time exchange rates for various currencies. 
                        Whether you are traveling, investing, or managing international transactions, 
                        our user-friendly interface offers a seamless experience to convert currencies 
                        with just a few clicks. Stay informed with ValueVerifier and never miss the current 
                        market trends.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
